<section>
  {{> templates-checkbox-list }}
</section>

<section>
  {{> elements-heading--xs}}
  {{> components-textfield}}
  {{> components-textfield}}
  {{# sample-form }}
  {{> templates-checkbox-list}}
  {{/ sample-form }}
</section>

<section>
  {{> elements-heading--xs}}
  {{> components-textfield}}
  {{> components-textfield}}
</section>
{{> elements-button--primary}}