<h1>Typography</h1>
<p class="text-l">The heading styles for the Styleguide</p>
<p>Type sizes are separated from HTML. We don't need to talk about an H1 or H3 heading. Instead we use primary heading, sub headings, and section headings. In this fashion, it is entirely possible to have a primary heading that is marked up as a H3 tag.</p>
<p>Fonts are served from TypeKit.</p>
    
<h2>Type sizes</h2>
<ul>
  <li class="text__heading--xl">Heading XL</li>
  <small>Open Sans - Bold | 4.7rem / 1.25</small></li>
</ul>
<ul>
  <li class="text__heading--l">Heading L</li>
  <small>Open Sans - Bold | 3.9rem / 1.25</small></li>
</ul>
<ul>
  <li class="text__heading--m">Heading M</li>
  <small>Open Sans - Bold | 3.3rem / 1.25</small></li>
</ul>
<ul>
  <li class="text__heading--s">Heading S</li>
  <small>Open Sans - Bold | 2.7rem / 1.25</small></li>
</ul>
<ul>
  <li class="text__heading--xs">Heading XS</li>
  <small>Open Sans - Bold | 2.3rem / 1.5</small></li>
</ul>
<ul>
  <li class="text--l">Text Large</li>
  <small>Open Sans - Regular | 2.3rem / 1.25</small></li>
</ul>
<ul>
  <li class="text--m">Text Medium</li>
  <small>Open Sans - Regular | 1.6rem / 1.5</small></li>
</ul>
<ul>
  <li class="text--s">Text Small</li>
  <small>Open Sans - Regular | 1.3rem / 1.5</small></li>
</ul>
<ul>
  <li class="text--xs">Text Tiny</li>
  <small>Open Sans - Regular | 1.1rem / 1.5</small></li>
</ul>