<h1>Colors</h1>
<p class="text--l">Current colors, shades, and tints for the current design.</p>

<h2>Greens</h2>
<ul class="sg-colors">
	<li>
	  <span class="sg-swatch-name">Green - 300</span>
		<span class="sg-swatch" style="background: #eaf7c6;"></span>
		<span class="sg-label">#eaf7c6</span>
		<span class="sg-var">$sg-color__green--300</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Green - 400</span>
		<span class="sg-swatch" style="background: #cae778;"></span>
		<span class="sg-label">#cae778</span>
		<span class="sg-var">$sg-color__green--400</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Green - 500</span>
		<span class="sg-swatch" style="background: #84bd00;"></span>
		<span class="sg-label">#84bd00</span>
		<span class="sg-var">$sg-color__green--500</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Green - 600</span>
		<span class="sg-swatch" style="background: #587604;"></span>
		<span class="sg-label">#587604</span>
		<span class="sg-var">$sg-color__green--600</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Green - 700</span>
		<span class="sg-swatch" style="background: #33430a;"></span>
		<span class="sg-label">#33430a</span>
		<span class="sg-var">$sg-color__green--700</span>
	</li>
</ul>

<h2>Blues</h2>
<ul class="sg-colors">
	<li>
	  <span class="sg-swatch-name">Blue - 300</span>
		<span class="sg-swatch" style="background: #e8f4fc;"></span>
		<span class="sg-label">#e8f4fc</span>
		<span class="sg-var">$sg-color__blue--300</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Blue - 400</span>
		<span class="sg-swatch" style="background: #b6dffa;"></span>
		<span class="sg-label">#b6dffa</span>
		<span class="sg-var">$sg-color__blue--400</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Blue - 500</span>
		<span class="sg-swatch" style="background: #62b5e5;"></span>
		<span class="sg-label">#62b5e5</span>
		<span class="sg-var">$sg-color__blue--500</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Blue - 600</span>
		<span class="sg-swatch" style="background: #116fa2;"></span>
		<span class="sg-label">#116fa2</span>
		<span class="sg-var">$sg-color__blue--600</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Blue - 700</span>
		<span class="sg-swatch" style="background: #074567;"></span>
		<span class="sg-label">#074567</span>
		<span class="sg-var">$sg-color__blue--700</span>
	</li>
</ul>

<h2 class="typo__header--2">Grayscale</h2>
<ul class="sg-colors">
	<li>
	  <span class="sg-swatch-name">Grayscale - 000</span>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
		<span class="sg-var">$sg-color__grayscale--000</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Grayscale - 005</span>
		<span class="sg-swatch" style="background: #f2f2f2;"></span>
		<span class="sg-label">#f2f2f2</span>
		<span class="sg-var">$sg-color__grayscale--0005</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Grayscale - 010</span>
		<span class="sg-swatch" style="background: #e6e6e6;"></span>
		<span class="sg-label">#e6e6e6</span>
		<span class="sg-var">$sg-color__grayscale--010</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Grayscale - 020</span>
		<span class="sg-swatch" style="background: #cccccc;"></span>
		<span class="sg-label">#cccccc</span>
		<span class="sg-var">$sg-color__grayscale--020</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Grayscale - 030</span>
		<span class="sg-swatch" style="background: #b3b3b3;"></span>
		<span class="sg-label">#b3b3b3</span>
		<span class="sg-var">$sg-color__grayscale--030</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Grayscale - 070</span>
		<span class="sg-swatch" style="background: #4d4d4d;"></span>
		<span class="sg-label">#4d4d4d</span>
		<span class="sg-var">$sg-color__grayscale--070</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Grayscale - 080</span>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">#333333</span>
		<span class="sg-var">$sg-color__grayscale--080</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Grayscale - 090</span>
		<span class="sg-swatch" style="background: #1a1a1a;"></span>
		<span class="sg-label">#1a1a1a</span>
		<span class="sg-var">$sg-color__grayscale--090</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Grayscale - 100</span>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
		<span class="sg-var">$sg-color__grayscale-100</span>
	</li>
</ul>

<h2>System</h2>
<p>Colors fo system message and other things not related directly to the theming and brand of the site</p>
<ul class="sg-colors">
	<li>
	  <span class="sg-swatch-name">System - Success</span>
		<span class="sg-swatch" style="background: #37761e;"></span>
		<span class="sg-label">#37761e</span>
		<span class="sg-var">$sg-color__system--success</span>
	</li>
	<li>
	  <span class="sg-swatch-name">System - Warning</span>
		<span class="sg-swatch" style="background: #bf3c30;"></span>
		<span class="sg-label">#bf3c30</span>
		<span class="sg-var">$sg-color__system--warning</span>
	</li>
	<li>
	  <span class="sg-swatch-name">System - Error</span>
		<span class="sg-swatch" style="background: #9a6d18;"></span>
		<span class="sg-label">#9a6d18</span>
		<span class="sg-var">$sg-color__system--error</span>
	</li>
</ul>


<h2>Others</h2>
<p>Colors that are needed but don't fit nicely into a category.</p>
<ul class="sg-colors">
	<li>
	  <span class="sg-swatch-name">Other - 001</span>
		<span class="sg-swatch" style="background: #a24a0f;"></span>
		<span class="sg-label">#a24a0f</span>
		<span class="sg-var">$sg-color__other--001</span>
	</li>
	<li>
	  <span class="sg-swatch-name">Other - 002</span>
		<span class="sg-swatch" style="background: #e0a430;"></span>
		<span class="sg-label">#e0a430</span>
		<span class="sg-var">$sg-color__other--001</span>
	</li>
</ul>