<h1>Space</h1>
<p class="text--l">Spacing is broken down into a handfull of display patterns to keep it consistent.</p>

<h2>Stack</h2>
<p>Apply spacing directly to the bottom of an element.</p>

<h2>Inset</h2>
<p>Apply spacing evenly to all sides of an element.</p>

<h2>Squish</h2>
<p>Apply twice as much spacing to the sides of the element as to the top and bottom.</p>

<h2>Stretch</h2>
<p>Apply twice as much spacing to the top and bottom of an element as to the sides.</p>

<h2>Inline</h2>
<p>Apply spacing directly to the right of the element.</p>
        