<div class="l-grid l-grid--2-col">
  <ul>
    {{#list--links}}
      <li>
      {{> elements-links }}
      </li>
    {{/list--links }}
  </ul>
  <ul style="background-color: #333">
    {{#list--links--reversed}}
      <li>
      {{> elements-links }}
      </li>
    {{/list--links--reversed }}
  </ul>
</div>