@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
h1,
.text__heading--xl {
  font-size: 3.98131rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h1,
  .text__heading--xl {
    font-size: 4.77757rem;
    line-height: 1.5;
  }
}

h2,
.text__heading--l {
  font-size: 3.31776rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h2,
  .text__heading--l {
    font-size: 3.98131rem;
    line-height: 1.5;
  }
}

h3,
.text__heading--m {
  font-size: 2.7648rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h3,
  .text__heading--m {
    font-size: 3.31776rem;
    line-height: 1.5;
  }
}

h4,
.text__heading--s {
  font-size: 2.304rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h4,
  .text__heading--s {
    font-size: 2.7648rem;
    line-height: 1.5;
  }
}

h5,
h6,
.text__heading--xs {
  font-size: 1.92rem;
  line-height: 1.5;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h5,
  h6,
  .text__heading--xs {
    font-size: 2.304rem;
    line-height: 1.5;
  }
}

.text--l {
  font-size: 1.92rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 80em) {
  .text--l {
    font-size: 2.304rem;
    line-height: 1.5;
  }
}

body,
.text--m {
  font-size: 1.92rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 80em) {
  body,
  .text--m {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

small,
.text--s {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 80em) {
  small,
  .text--s {
    font-size: 1.33333rem;
    line-height: 1.5;
  }
}

.text--xs {
  font-size: 1.33333rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 80em) {
  .text--xs {
    font-size: 1.11111rem;
    line-height: 1.5;
  }
}

table {
  margin: 0 0 1.6rem 0;
  font-size: 1.33333rem;
  line-height: 1.5;
  background-color: #fff;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table thead tr {
  border-bottom-color: #4d4d4d;
}
table thead tr:hover {
  background-color: transparent;
}
table th {
  font-size: 1.33333rem;
  line-height: 1.5;
  padding: 0.4rem;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #4d4d4d;
  padding-top: 3.2rem;
  padding-left: 0;
  margin-right: 2.0px;
}
table tr {
  border-bottom: 1px solid #cccccc;
  transition: all .3s ease-out;
}
table tr:hover {
  background-color: #EFF7DA;
}
table td {
  padding: 0.8rem;
  padding-left: 0;
  word-wrap: normal;
}
table td {
  border-bottom: 1px solid #ccc;
}
table td:first-child,
table th:first-child {
  padding-left: 3.2rem;
}
table td:last-child,
table th:last-child {
  padding-right: 3.2rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: underline;
}
a:link {
  color: #116fa2;
}
a:visited {
  color: #587604;
}
a:hover {
  color: #a24a0f;
}
a:active {
  color: #116fa2;
}

html {
  font-size: 62.5%;
}

html,
button,
input,
select,
textarea {
  color: #4d4d4d;
}

body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

p {
  margin: 0 0 1.6rem 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='datetime'],
input[type='month'],
input[type='week'],
input[type='number'],
textarea {
  padding: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.5;
  transition: all .3s ease-out;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  box-shadow: inset 0px 0px 0px 0 #116fa2;
  color: #000;
  width: 100%;
}

input[type='text']:hover,
input[type='datetime']:hover,
input[type='month']:hover,
input[type='week']:hover,
input[type='number']:hover,
textarea:hover {
  background-color: #e8f4fc;
  border-color: #116fa2;
}

input[type='text']:focus,
input[type='datetime']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='number']:focus,
textarea:focus {
  background-color: #eaf7c6;
  border-color: #587604;
  box-shadow: inset 0px -4px 0px 0 #84bd00;
}

label {
  font-size: 1.33333rem;
  line-height: 1.5;
  color: #4d4d4d;
  font-weight: bold;
}

textarea {
  resize: vertical;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden,
.hidden--visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible,
.hidden--invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.c-list--minimal {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.text--xs {
  color: inherit;
  line-height: inherit;
}

.c-button--primary {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1.6rem 3.2rem;
  margin: 0 0 3.2rem 0;
  background-color: #116fa2;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: block;
  font-weight: bold;
  text-decoration: none;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}
.c-button--primary:hover {
  background-color: #62b5e5;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.c-button--secondary {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1.6rem 3.2rem;
  margin: 0 0 3.2rem 0;
  background-color: #fff;
  border: 1px solid #116fa2;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #116fa2;
  display: block;
  font-weight: normal;
  text-decoration: none;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}
.c-button--secondary:hover {
  background-color: #e8f4fc;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
.c-button--compact {
  font-size: 1.33333rem;
  line-height: 1.5;
  padding: 0.8rem 1.6rem;
  margin: 0 0 3.2rem 0;
  background-color: #fff;
  border: 1px solid #116fa2;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #116fa2;
  display: block;
  font-weight: normal;
  text-decoration: none;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}
.c-button--compact:hover {
  background-color: #e8f4fc;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
.c-button--tiny {
  font-size: 1.11111rem;
  line-height: 1.5;
  padding: 0.4rem 0.8rem;
  margin: 0 0 3.2rem 0;
  background-color: #fff;
  border: 1px solid #116fa2;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #116fa2;
  display: block;
  font-weight: normal;
  text-decoration: none;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}
.c-button--tiny:hover {
  background-color: #e8f4fc;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.c-button__primary {
  background-color: #116fa2;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.8);
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  margin-bottom: 3.2rem;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}

.c-button__primary:hover {
  background-color: #5aa0c6;
}

.c-button--disable {
  border: 1px solid #999;
  box-shadow: none;
  background-color: #ccc;
}

.c-button--disable:hover {
  border: 1px solid #999;
  background-color: #ccc;
  box-shadow: none;
}

.c-button__secondary {
  background-color: #fff;
  border: 1px solid #116fa2;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.8);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  margin-bottom: 3.2rem;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}

.c-button__secondary:hover {
  background-color: #F0F7FC;
}

.c-button__link {
  font-size: 1.3rem;
  display: block;
  flex: 0 1 auto;
}

.c-button__group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 6.4rem;
}

.c-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 1.6rem 0;
}
.c-field label {
  margin: 0 0 0.4rem 0;
  transition: all .3s ease-out;
}
.c-field input {
  position: relative;
  transition: all .2s ease-out;
  z-index: 20;
}
.c-field p {
  font-size: 1.11111rem;
  line-height: 1.5;
  transition: all .3s ease-out;
}
.c-field__wrapper {
  margin: 0 0 0.4rem 0;
  position: relative;
  width: 100%;
}
.c-field.focused label {
  color: #587604;
}
.c-field.focused p {
  color: #587604;
}
.c-field--error label,
.c-field--error p {
  color: #bf3c30;
}
.c-field--error input {
  background-color: #f2c3be;
  border-color: #bf3c30;
  width: calc( 100% - 54px );
}
.c-field--error .c-field__wrapper {
  background-color: #bf3c30;
}
.c-field--error .c-field__wrapper:after {
  content: "\f00d";
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin: 0 0 0 1.6rem;
  position: absolute;
  right: 1.9rem;
  top: 1.6rem;
}
.c-field--success label {
  color: #37761e;
}
.c-field--success input {
  width: calc( 100% - 54px );
  background-color: #d7e7d1;
  border-color: #84bd00;
}
.c-field--success .c-field__wrapper {
  background-color: #84bd00;
}
.c-field--success .c-field__wrapper:after {
  content: "\f00c";
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin: 0 0 0 1.6rem;
  position: absolute;
  right: 1.9rem;
  top: 1.6rem;
}
[type="checkbox"],
[type="radio"] {
  left: -999px;
  position: absolute;
  top: -999px;
}
[type="checkbox"] + label,
[type="radio"] + label {
  padding: 0.8rem 1.6rem;
  display: inline-block;
  transition: all .2s ease-out;
  position: relative;
}
[type="checkbox"] + label:hover,
[type="radio"] + label:hover {
  background-color: #b6dffa;
}
[type="checkbox"] + label:before,
[type="radio"] + label:before {
  margin: 0 0.8rem 0 0;
  box-sizing: border-box;
  border: 0.6rem solid #fff;
  box-shadow: 0px 0px 0px 1px #4d4d4d;
  content: " ";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  transition: all .2s ease-out .1s;
}
[type="checkbox"]:checked + label:hover,
[type="radio"]:checked + label:hover {
  background-color: #84bd00;
}
[type="checkbox"]:checked + label:before,
[type="radio"]:checked + label:before {
  background-color: #84bd00;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 1px #587604;
  animation: shrink-bounce 0.2s cubic-bezier(0.4, 0, 0.23, 1);
}
[type="checkbox"] + label:after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  top: 1.2rem;
  left: 1.8rem;
  position: absolute;
  font-size: 0.8rem;
  color: #fff;
}
[type="radio"] + label:before {
  border-radius: 0.6rem;
}
.c-field.required label:after {
  content: " *";
  color: #bf3c30;
}
.c-field.optional label:after {
  font-size: 1.11111rem;
  line-height: 1.5;
  content: " frivillig";
  font-style: italic;
  font-weight: normal;
}
.c-field label + p {
  margin: 0 0 0.8rem 0;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.833);
  }
  100% {
    transform: scale(1);
  }
}
.c-field--nested > [type="checkbox"]:first-child:checked {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
