@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
h1,
.text__heading--xl {
  font-size: 3.98131rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h1,
  .text__heading--xl {
    font-size: 4.77757rem;
    line-height: 1.5;
  }
}

h2,
.text__heading--l {
  font-size: 3.31776rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h2,
  .text__heading--l {
    font-size: 3.98131rem;
    line-height: 1.5;
  }
}

h3,
.text__heading--m {
  font-size: 2.7648rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h3,
  .text__heading--m {
    font-size: 3.31776rem;
    line-height: 1.5;
  }
}

h4,
.text__heading--s {
  font-size: 2.304rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h4,
  .text__heading--s {
    font-size: 2.7648rem;
    line-height: 1.5;
  }
}

h5,
h6,
.text__heading--xs {
  font-size: 1.92rem;
  line-height: 1.5;
  color: #074567;
  font-weight: bold;
}
@media (min-width: 80em) {
  h5,
  h6,
  .text__heading--xs {
    font-size: 2.304rem;
    line-height: 1.5;
  }
}

.text--l {
  font-size: 1.92rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 80em) {
  .text--l {
    font-size: 2.304rem;
    line-height: 1.5;
  }
}

table caption, body,
.text--m {
  font-size: 1.92rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 80em) {
  table caption, body,
  .text--m {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

small,
.text--s {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 80em) {
  small,
  .text--s {
    font-size: 1.33333rem;
    line-height: 1.5;
  }
}

.text--xs {
  font-size: 1.33333rem;
  line-height: 1.5;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 80em) {
  .text--xs {
    font-size: 1.11111rem;
    line-height: 1.5;
  }
}

table {
  margin: 0 0 3.2rem 0;
  font-size: 1.6rem;
  line-height: 1.5;
  border-collapse: collapse;
  table-layout: fixed;
  /*
  td:first-child,
  th:first-child {
    padding-left: 3.2rem;
  }
  td:last-child,
  th:last-child {
    padding-right: 3.2rem;
  }
  */
}
table .align-right {
  text-align: right;
}
table .align-left {
  text-align: left;
}
table caption {
  padding: 0.8rem;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
  color: #074567;
  font-weight: bold;
  margin-bottom: 0;
}
table colgroup {
  border-right: 1px solid #cccccc;
}
table colgroup:last-of-type {
  border: none;
}
table thead tr {
  border-bottom: 1px solid #cccccc;
}
table tbody tr:nth-child(2n + 1) td {
  background-color: #e6e6e6;
}
table tbody + tbody {
  border-top: 1px solid #b3b3b3;
}
table tfoot td {
  border-top: 1px solid #4d4d4d;
  font-weight: bold;
}
table th {
  font-weight: bold;
}
table tr {
  transition: all .3s ease-out;
}
table td, table th {
  padding: 1.6rem;
  word-wrap: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  transition: all .2s ease-in-out;
}
a:link {
  color: #116fa2;
}
a:visited {
  color: #587604;
}
a:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: #a24a0f;
}
a:active {
  color: #116fa2;
}
.reversed a:link {
  color: #b6dffa;
}
.reversed a:visited {
  color: #cae778;
}
.reversed a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #e0a430;
}
.reversed a:active {
  color: #b6dffa;
}
a i {
  margin-right: 0.8rem;
}
a em {
  font-size: 1.11111rem;
  line-height: 1.5;
  margin-left: 0.8rem;
}
a.external:after {
  font-size: 1.11111rem;
  line-height: 1.5;
  bottom: 1px;
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 0.8rem;
  padding-right: 0.8rem;
  position: relative;
}

html {
  font-size: 62.5%;
}

html,
button,
input,
select,
textarea {
  color: #4d4d4d;
}

body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

p {
  margin: 0 0 1.6rem 0;
}
.reversed p {
  color: #fff;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='datetime'],
input[type='month'],
input[type='week'],
input[type='number'],
textarea {
  padding: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.5;
  transition: all .2s ease-out;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  box-shadow: inset 0px 0px 0px 0 #116fa2;
  color: #000;
  width: 100%;
}

input[type='text']:hover,
input[type='datetime']:hover,
input[type='month']:hover,
input[type='week']:hover,
input[type='number']:hover,
textarea:hover {
  background-color: #e8f4fc;
  border-color: #116fa2;
}

input[type='text']:focus,
input[type='datetime']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='number']:focus,
textarea:focus {
  background-color: #eaf7c6;
  border-color: #587604;
  box-shadow: inset 0px -4px 0px 0 #84bd00;
}

label {
  font-size: 1.33333rem;
  line-height: 1.5;
  color: #4d4d4d;
  font-weight: bold;
}

textarea {
  resize: vertical;
}

figure {
  margin: 0;
}

mark {
  background-color: #FFEEB2;
}
.reversed mark {
  background-color: #795D00;
  color: #fff;
}
mark.error {
  background-color: #EAAFAA;
}
mark.error a:link {
  color: #0C5277;
}
mark.error a:visited {
  color: #3F5403;
}
.reversed mark.error {
  background-color: #AB362B;
}
.reversed mark.error a:link {
  color: #b6dffa;
}
.reversed mark.error a:visited {
  color: #cae778;
}
mark.success {
  background-color: #cae778;
}
mark.success a:link {
  color: #106695;
}
mark.success a:visited {
  color: #4E6904;
}
.reversed mark.success {
  background-color: #4E6804;
}
.reversed mark.success a:link {
  color: #b6dffa;
}
.reversed mark.success a:visited {
  color: #cae778;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden,
.hidden--visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible,
.hidden--invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.c-list--minimal {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.text--xs {
  color: inherit;
  line-height: inherit;
}

.l-grid {
  display: flex;
}
.l-grid--3-col {
  flex-direction: row;
  flex-wrap: wrap;
}
.l-grid--3-col > div {
  flex: 0 1 32.9%;
  margin-bottom: 0.8rem;
}
.l-grid--3-col > div:nth-child(n+1) {
  margin-left: 0.4rem;
}
.l-grid--3-col > div:nth-child(3n+2) {
  margin: 0 0.4rem;
}
.l-grid--3-col > div:nth-child(3n+1) {
  margin: 0 0.4rem 0 0;
}

.c-block__accordion {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.c-block__accordion-item {
  border-bottom: 1px solid #fff;
  box-shadow: inset 0 -1px 1px 0 #cccccc;
}
.c-block__accordion-item__title {
  padding: 1.6rem;
  align-items: center;
  color: #4d4d4d;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.c-block__accordion-item__title:after {
  bottom: 0;
  border-bottom: 1px dotted #e6e6e6;
  content: " ";
  height: 1px;
  position: absolute;
  width: calc( 100% - 3.2rem );
}
.c-block__accordion-item__title i {
  color: #116fa2;
  transform-origin: center;
  transition: transform .2s ease-in;
}
.c-block__accordion-item__title:link {
  color: #4d4d4d;
  text-decoration: none;
}
.c-block__accordion.use--js .c-block__accordion-item__title:hover {
  background-color: #e6e6e6;
  color: #116fa2;
}
.c-block__accordion.use--js .c-block__accordion-item__title:hover i {
  transform: scale(1.5);
}
.c-block__accordion.use--js .c-block__accordion-item__title.focus, .c-block__accordion.use--js .c-block__accordion-item__title:focus {
  background-color: #fff;
  color: #116fa2;
}
.c-block__accordion.use--js .c-block__accordion-item__content {
  max-height: 0px;
  overflow: hidden;
  transition: all .2s ease-out;
}
.c-block__accordion.use--js .c-block__accordion-item__content.open {
  max-height: 200px;
}
.c-block__accordion-item__content p {
  padding: 1.6rem;
}

.c-breadcrumb {
  font-size: 1.33333rem;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.c-breadcrumb i {
  font-size: 1.11111rem;
  line-height: 1.5;
}
.c-breadcrumb a {
  padding: 0.4rem 0.8rem;
  display: block;
  transition: all .2s ease-out;
}
.c-breadcrumb a:hover {
  background-color: #fff;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.c-breadcrumb .last {
  padding-left: 0.8rem;
}

.c-button {
  border-radius: 3px;
  display: block;
  font-weight: normal;
  text-decoration: none;
  flex: 0 1 auto;
  transition: all .1s ease-out;
}
.c-button--primary {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1.6rem 3.2rem;
  margin: 0 0 3.2rem 0;
  background-color: #116fa2;
  border: none;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
}
.c-button--primary:hover {
  background-color: #137cb4;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform-origin: center;
  transform: translate(-1px, -1px);
}
.c-button--primary.disabled {
  background-color: #cccccc;
  box-shadow: none;
  color: #8d8d8d;
}
.c-button--primary.disabled:hover {
  background-color: #cccccc;
  box-shadow: none;
  cursor: auto;
  transform: none;
}
.c-button--secondary {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1.6rem 3.2rem;
  margin: 0 0 3.2rem 0;
  background-color: #fff;
  border: 1px solid #116fa2;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #116fa2;
}
.c-button--secondary:hover {
  background-color: #e8f4fc;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform-origin: center;
  transform: translate(-1px, -1px);
}
.c-button--secondary.compact {
  font-size: 1.33333rem;
  line-height: 1.5;
  padding: 0.8rem 1.6rem;
}
.c-button--secondary.compact:hover {
  transform: none;
}
.c-button--secondary.tiny {
  font-size: 1.11111rem;
  line-height: 1.5;
  padding: 0.4rem 0.8rem;
}
.c-button--secondary.tiny:hover {
  transform: none;
}
.c-button--secondary.disabled {
  background-color: #f2f2f2;
  border-color: silver;
  box-shadow: none;
  color: silver;
}
.c-button--secondary.disabled:hover {
  background-color: #f2f2f2;
  box-shadow: none;
  cursor: auto;
  transform: none;
}

/*
.c-button {
  
}
.c-button__primary {
  background-color: #116fa2;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px rgba( 0,0,0,0.8);
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  margin-bottom: 3.2rem;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}
.c-button__primary:hover {
  background-color: #5aa0c6;
}

.c-button--disable {
  border: 1px solid #999;
  box-shadow: none;
  background-color: #ccc;
}
.c-button--disable:hover {
  border: 1px solid #999;
  background-color: #ccc;
  box-shadow: none;
}

.c-button__secondary {
  background-color: #fff;
  border: 1px solid #116fa2;
  border-radius: 3px;
   box-shadow: 1px 1px 1px 0px rgba( 0,0,0,0.8);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  margin-bottom: 3.2rem;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}
.c-button__secondary:hover {
  background-color: #F0F7FC
}
.c-button__link {
  font-size: 1.3rem;
  display: block;
  flex: 0 1 auto;
}
.c-button__group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 6.4rem;
}
*/
.c-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 1.6rem 0;
}
.c-field label {
  margin: 0 0 0.4rem 0;
  transition: all .2s ease-out;
}
.c-field input {
  position: relative;
  transition: all .2s ease-out;
  z-index: 20;
}
.c-field p {
  font-size: 1.11111rem;
  line-height: 1.5;
  transition: all .2s ease-out;
}
.c-field__wrapper {
  margin: 0 0 0.4rem 0;
  position: relative;
  width: 100%;
}
.c-field.focused label {
  color: #587604;
}
.c-field.focused p {
  color: #587604;
}
.c-field--error label,
.c-field--error p {
  color: #bf3c30;
}
.c-field--error input {
  background-color: #f2c3be;
  border-color: #bf3c30;
  width: calc( 100% - 54px );
}
.c-field--error .c-field__wrapper {
  background-color: #bf3c30;
}
.c-field--error .c-field__wrapper:after {
  content: "\f00d";
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin: 0 0 0 1.6rem;
  position: absolute;
  right: 1.9rem;
  top: 1.6rem;
}
.c-field--success label {
  color: #37761e;
}
.c-field--success input {
  width: calc( 100% - 54px );
  background-color: #d7e7d1;
  border-color: #84bd00;
}
.c-field--success .c-field__wrapper {
  background-color: #84bd00;
}
.c-field--success .c-field__wrapper:after {
  content: "\f00c";
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin: 0 0 0 1.6rem;
  position: absolute;
  right: 1.9rem;
  top: 1.6rem;
}
[type="checkbox"],
[type="radio"] {
  left: -999px;
  position: absolute;
  top: -999px;
}
[type="checkbox"] + label,
[type="radio"] + label {
  padding: 0.8rem 1.6rem;
  display: inline-block;
  transition: all .2s ease-out;
  position: relative;
}
[type="checkbox"] + label:hover,
[type="radio"] + label:hover {
  background-color: #b6dffa;
}
[type="checkbox"] + label:before,
[type="radio"] + label:before {
  margin: 0 0.8rem 0 0;
  box-sizing: border-box;
  border: 0.6rem solid #fff;
  box-shadow: 0px 0px 0px 1px #4d4d4d;
  content: " ";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  transition: all .2s ease-out .1s;
}
[type="checkbox"]:checked + label:hover,
[type="radio"]:checked + label:hover {
  background-color: #84bd00;
}
[type="checkbox"]:checked + label:before,
[type="radio"]:checked + label:before {
  background-color: #84bd00;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 1px #587604;
  animation: shrink-bounce 0.2s cubic-bezier(0.4, 0, 0.23, 1);
}
[type="checkbox"] + label:after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  top: 1.2rem;
  left: 1.8rem;
  position: absolute;
  font-size: 0.8rem;
  color: #fff;
}
[type="radio"] + label:before {
  border-radius: 0.6rem;
}
.c-field.required label:after {
  content: " *";
  color: #bf3c30;
}
.c-field.optional label:after {
  font-size: 1.11111rem;
  line-height: 1.5;
  content: " frivillig";
  font-style: italic;
  font-weight: normal;
}
.c-field label + p {
  margin: 0 0 0.8rem 0;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.833);
  }
  100% {
    transform: scale(1);
  }
}
.c-block--inset {
  border: 1px solid #cccccc;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
.c-block--inset:hover .c-block--inset__content, .c-block--inset:focus .c-block--inset__content {
  padding: 3.2rem 1.6rem;
}
.c-block--inset__img {
  background-color: #fff;
  position: relative;
}
.c-block--inset img {
  height: auto;
  max-width: 100%;
}
.c-block--inset__content {
  padding: 1.6rem;
  font-size: 1.11111rem;
  line-height: 1.5;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.c-block--inset__content i {
  margin: 0 0.8rem 0 0;
  font-size: 1.6rem;
  line-height: 1.5;
}
.c-block--media {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto auto;
  grid-gap: 1.6rem;
  grid-template-areas: "img content" "footer footer";
}
.c-block--media img {
  max-width: 100%;
  height: auto;
}
.c-block--media .c-block--media__img {
  grid-area: img;
  overflow: hidden;
}
.c-block--media .c-block--media__content {
  grid-area: content;
}
.c-block--media footer {
  grid-area: footer;
  height: 50px;
}

.c-select {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 1.6rem 0;
}
.c-select label {
  margin: 0 0 0.4rem 0;
  transition: all .2s ease-out;
}
.c-select select {
  padding: 1.6rem 0.8rem;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 100%;
}
.c-select p {
  font-size: 1.11111rem;
  line-height: 1.5;
  transition: all .2s ease-out;
}
.c-select__wrapper {
  position: relative;
  width: 100%;
}
.c-select__wrapper:hover .c-select__fake {
  background-color: #e8f4fc;
  border-color: #116fa2;
}
.c-select__wrapper:hover .c-select__fake i {
  color: #116fa2;
}
.c-select__fake {
  padding: 1.6rem 0.8rem;
  transition: all .2s ease-out;
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.c-select__fake__label {
  font-size: 1.6rem;
  line-height: 1.5;
}
.change .c-select__fake__label {
  animation: shrink-bounce 0.3s ease-out;
}
.c-select__fake__icon {
  margin: 0 0.8rem 0 0;
}
.c-select.focus .c-select__wrapper .c-select__fake {
  background-color: #eaf7c6;
  border-color: #587604;
  box-shadow: inset 0px -4px 0px #cae778;
}
.c-select.focus .c-select__wrapper .c-select__fake i {
  color: #587604;
}
.c-select.focus .c-select__wrapper:hover .c-select__fake {
  box-shadow: inset 0px -8px 0px #cae778;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  33% {
    transform: scale(0.833);
    opacity: 0.4;
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.c-field--nested > [type="checkbox"]:first-child:checked {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
