// Templates
//
// Templates for common site elements. 
//
// Style Guide: Abstract.Templates

// Typography Templates
//
// 1 %sg-heading--xl  - Defines the primary heading
// 2 %sg-heading--l   - Defines the 2nd level heading
// 3 %sg-heading--m   - Defines the 3rd level heading
// 4 %sg-heading--s   - Defines a smaller heading
// 5 %sg-heading--xs  - Defines the smallest heading
// 6 %sg-text--l      - Defines the lead style.
// 7 %sg-text--m      - Defines the main style of the body copy
// 8 %sg-text--s      - Defines a caption style. Also used as 'small text'
// 9 %sg-text--xs     - Defines a tiny style.
//
// Style Guide: Base.Sass-Templates	


// %sg-heading--xl
//
// Style Guide: Abstract.Templates.Typography.heading-extra-large
%sg-heading--xl {
  @include sg-u-text--xxxxl;
  @include sg-u-space-stack--m;
  @include breakpoint( l ) {
    @include sg-u-text--xxxxxl;
  }
  
  // Seasoning
	color: $sg-color__blue--700;
	font-weight: bold;
}

// %sg-heading--l
//
// Style Guide: Abstract.Templates.Typography.heading-large
%sg-heading--l {
  @include sg-u-text--xxxl;
  @include sg-u-space-stack--m;
  @include breakpoint( l ) {
    @include sg-u-text--xxxxl;
  }
  
  // Seasoning
	color: $sg-color__blue--700;
	font-weight: bold;
}

// %sg-heading--m
//
// Style Guide: Abstract.Templates.Typography.heading-medium
%sg-heading--m {
  @include sg-u-text--xxl;
  @include sg-u-space-stack--m;
  @include breakpoint( l ) {
    @include sg-u-text--xxxl;
  }
  
  // Seasoning
	color: $sg-color__blue--700;
	font-weight: bold;
}

// %sg-heading--s
//
// Style Guide: Abstract.Templates.Typography.heading-small
%sg-heading--s {
  @include sg-u-text--xl;
  @include sg-u-space-stack--m;
  @include breakpoint( l ) {
    @include sg-u-text--xxl;
  }
  
  // Seasoning
  color: $sg-color__blue--700;
	font-weight: bold;
}

// %sg-heading--xs
//
// Style Guide: Abstract.Templates.Typography.heading-extra-small
%sg-heading--xs {
  @include sg-u-text--l;
  @include breakpoint( l ) {
    @include sg-u-text--xl;
  }
  
  // Seasoning
  color: $sg-color__blue--700;
	font-weight: bold;
}

// %sg-text--xl
//
// Style Guide: Abstract.Templates.Typography.text-extra-large
%sg-text--xl {
  @include sg-u-text--l;
  @include sg-u-space-stack--m;
  @include breakpoint( l ) {
    @include sg-u-text--xl;
  }
}

// %sg-text--l
//
// Style Guide: Abstract.Templates.Typography.text-large
%sg-text--l {
  @include sg-u-text--l;
  @include sg-u-space-stack--m;
}

// %sg-text--m
//
// Style Guide: Abstract.Templates.Typography.text-medium
%sg-text--m {
  @include sg-u-text--l;
  @include sg-u-space-stack--m;
  @include breakpoint( l ) {
    @include sg-u-text--m;
  }
}

// %sg-text--s
//
// Style Guide: Abstract.Templates.Typography.text-small
%sg-text--s {
  @include sg-u-text--m;
  @include sg-u-space-stack--m;
  @include breakpoint( l ) {
    @include sg-u-text--s;
  }
}

// %sg-text--xs
//
// Style Guide: Abstract.Templates.Typography.text-tiny
%sg-text--xs {
  @include sg-u-text--s;
  @include sg-u-space-stack--m;
  @include breakpoint( l ) {
    @include sg-u-text--xs;
  }
}

// %table-template
//
// Style Guide: Abstract.Templates.Base.table
%table-template {
  @include sg-u-space-stack--m;
  @include sg-u-text--s;
  
  background-color: $sg-color__grayscale--000;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  
  thead {
    tr {
      border-bottom-color: $sg-color__grayscale--070;
      &:hover {
        background-color: transparent;
      }
    }
  }
  
  th {
    @include sg-u-text--s;
    @include sg-u-space-inset--xs( 'padding' );
    
    font-weight: bold;
    text-align: left;
    
    border-bottom: 1px solid $sg-color__grayscale--070;
    padding-top: 3.2rem;
    padding-left: 0;
    margin-right: 2.0px;
  }
  
  tr {
    border-bottom: 1px solid $sg-color__grayscale--020;
    transition: all .3s ease-out;
  }
  tr:hover {
    background-color: #EFF7DA;
  }
  
  td {
    @include sg-u-space-inset--s( 'padding' );
    padding-left: 0;
    
    word-wrap: normal;
  }
  td {
    border-bottom: 1px solid #ccc;
    //padding: 0.8rem 1.6rem 0.8rem 0;
  }
  td:first-child,
  th:first-child {
    padding-left: 3.2rem;
  }
  td:last-child,
  th:last-child {
    padding-right: 3.2rem;
  }
}