{{# fields.radioList}}
<fieldset role="radiogroup" aria-labelled-by="{{ aria-id }}">
{{> elements-heading--m }}
  {{#fields.radioList.radios }}
  {{> elements-radio-button-field}}{{> elements-label:radio1}}
  {{/fields.radioList.radios }}
</fieldset>
{{/ fields.radioList }}