{{# fields.radioList}}
<fieldset role="radiogroup" aria-labelled-by="{{ aria-id }}">
{{> elements-heading--xs }}
  <ul class="c-list--minimal">
    {{#fields.radioList.radios }}
      <li>
        {{> elements-radio-button-field}}{{> elements-label:radio1}}
      </li>
    {{/fields.radioList.radios }}
  </ul>
</fieldset>
{{/ fields.radioList }}