<p><small>Alla fält krävs om inget annat anges</small></p>
{{#sample-form.textfields}}
{{> components-textfield }}
{{/sample-form.textfields}}
{{> components-textfield:optional }}
{{> elements-button--primary }}