<select id="{{ fields.select.id }}" aria-labelled-by="{{ fields.select.labelledby }}">
  {{# fields.select.options }}
    <option value="{{ value }}">{{ label }}</option>
  {{/ fields.select.options }}
</select>