<input id="{{ fields.checkbox.id }}" 
       name="{{ fields.checkbox.name }}" 
       type="checkbox" 
       {{#  fields.checkbox.checked }}checked="checked"{{/ fields.checkbox.checked }} 
       class="field__input field__input--checkbox" />