<input id="{{ fields.text.id }}" 
       type="text" 
       class="field__input field__input--textfield" 
       placeholder="Text Input" 
       aria-describedby="text1--description" 
       aria-labelledby="text1--label" />