<div class="c-field {{ styleModifier }}">
  {{> elements-label }}
  {{# helptext }}{{> components-helptext }}{{/ helptext }}
  {{> elements-text-field }}
  {{# field-description }}{{> components-description }}{{/ field-description }}
</div>