<div class="c-field {{ styleModifier }}">
  {{> elements-label }}
  {{# helptext }}{{> components-helptext }}{{/ helptext }}
  <div class="c-field__wrapper">
  {{> elements-text-field }}
  </div>
  {{# fields.field-description }}{{> components-description }}{{/ fields.field-description }}
  {{> components-description }}
</div>