<fieldset class="field--wrapper">
  <div class="field field__container">
    <label id="select1--label" for="select" class="field__label">Select</label>
    <div class="field__control-wrapper--select">
      <select id="select1" class="field__input field__input--select" aria-labelledby="select1--label">
          <optgroup label="Option Group">
              <option>Option One</option>
              <option>Option Two</option>
              <option>Option Three</option>
          </optgroup>
      </select>
    </div>
  </div>
</fieldset>