<section class="c-block--inset" aria-label="The article linked to contains a video">
  <div class="c-block--inset__img">
    {{> elements-landscape }}
  </div>
  <div class="c-block--inset__content">
    <i aria-hidden hidden class="fas fa-video"></i>
    <span aria-hidden>video inom</span>
  </div>
</section>