<section class="c-block--media" aria-label="The label for the media block.">
  <div class="c-block--media__img">
    {{> elements-landscape }}
  </div>
  <div class="c-block--media__content">
    {{> elements-heading--m }}
    {{> elements-paragraph }}
  </div>
  <footer>
    {{> elements-small}}
  </footer>
</section>