<div class="c-block__accordion-wrapper">
  <ul class="c-block__accordion">
    <li class="c-block__accordion-item" >
      <a href="#item-one" name="item-one" class="c-block__accordion-item__title">Item One</a>
      <div class="c-block__accordion-item__content">
        {{> elements-paragraph }}
      </div>
    </li>
    <li class="c-block__accordion-item">
      <a href="#item-two" name="item-two" class="c-block__accordion-item__title">Item Two</a>
      <div class="c-block__accordion-item__content">
        {{> elements-paragraph }}
      </div>
    </li>
    <li class="c-block__accordion-item">
      <a href="#item-three" name="item-three" class="c-block__accordion-item__title">Item Three</a>
      <div class="c-block__accordion-item__content">
        {{> elements-paragraph }}
      </div>
    </li>
  </ul>
</div>