$base: '.c-button';

#{ $base } {
  
  border-radius: 3px;
  display: block;
  font-weight: normal;
  text-decoration: none;
  flex: 0 1 auto;
  transition: all .1s ease-out;
  
  @at_root #{&}--primary {
    @include sg-u-text--m;
    @include sg-u-space-squish--l( 'padding' );
    @include sg-u-space-stack--l;
    background-color: $sg-color__blue--600;
    border: none;
    box-shadow: 1px 1px 1px 0px rgba( 0,0,0,0.3);
    color: $sg-color__grayscale--000;
    font-weight: bold;
    &:hover {
      background-color: lighten( $sg-color__blue--600, 4% );
      box-shadow: 1px 1px 3px 0px rgba( 0,0,0,0.4);
      cursor: pointer;
      transform-origin: center;
      transform: translate( -1px, -1px );
    }
    
    &.disabled {
      background-color: $sg-color__grayscale--020;
      box-shadow: none;
      color: darken( $sg-color__grayscale--030, 15% );
      &:hover {
        background-color: $sg-color__grayscale--020;
        box-shadow: none;
        cursor: auto;
        transform: none;
      }
    }
  }
  @at_root #{&}--secondary {
    @include sg-u-text--m;
    @include sg-u-space-squish--l( 'padding' );
    @include sg-u-space-stack--l;
    background-color: $sg-color__grayscale--000;
    border: 1px solid $sg-color__blue--600;
    box-shadow: 1px 1px 1px 0px rgba( 0,0,0,0.2);
    color: $sg-color__blue--600;
    &:hover {
      background-color: $sg-color__blue--300;
      box-shadow: 1px 1px 2px 0px rgba( 0,0,0,0.4);
      cursor: pointer;
      transform-origin: center;
      transform: translate( -1px, -1px );
    }
    
    &.compact {
      @include sg-u-text--s;
      @include sg-u-space-squish--m( 'padding' );
      &:hover {
        transform: none;
      }
    }
    
    &.tiny {
      @include sg-u-text--xs;
      @include sg-u-space-squish--s( 'padding' );
      &:hover {
        transform: none;
      }
    }
    
    &.disabled {
      background-color: $sg-color__grayscale--005;
      border-color: darken( $sg-color__grayscale--010, 15% );
      box-shadow: none;
      color: darken( $sg-color__grayscale--010, 15% );
      &:hover {
        background-color: $sg-color__grayscale--005;
        box-shadow: none;
        cursor: auto;
        transform: none;
      }
    }
  }
}


/*
.c-button {
  
}
.c-button__primary {
  background-color: #116fa2;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px rgba( 0,0,0,0.8);
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  margin-bottom: 3.2rem;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}
.c-button__primary:hover {
  background-color: #5aa0c6;
}

.c-button--disable {
  border: 1px solid #999;
  box-shadow: none;
  background-color: #ccc;
}
.c-button--disable:hover {
  border: 1px solid #999;
  background-color: #ccc;
  box-shadow: none;
}

.c-button__secondary {
  background-color: #fff;
  border: 1px solid #116fa2;
  border-radius: 3px;
   box-shadow: 1px 1px 1px 0px rgba( 0,0,0,0.8);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  margin-bottom: 3.2rem;
  flex: 0 1 auto;
  transition: all .2s ease-out;
}
.c-button__secondary:hover {
  background-color: #F0F7FC
}
.c-button__link {
  font-size: 1.3rem;
  display: block;
  flex: 0 1 auto;
}
.c-button__group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 6.4rem;
}
*/