$base: '.c-block';

#{ $base } { 
  
  @at-root #{&}--inset {
    border: 1px solid $sg-color__grayscale--020;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    
    &:hover,
    &:focus {
      #{$base}--inset__content {
        @include sg-u-space-stretch--m( 'padding' );
      }
    }
    
    @at-root #{&}__img {
      background-color: $sg-color__grayscale--000;
      position: relative;
    }
    
    img {
      height: auto;
      max-width: 100%;
    }
    
    @at-root #{&}__content {
      @include sg-u-space-inset--m( 'padding' );
      @include sg-u-text--xs;
      
      align-items: center;
      background-color: rgba( 0, 0, 0, .7 );
      bottom: 0;
      color: $sg-color__grayscale--000;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      left: 0;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
      
      i {
        @include sg-u-space-inline--s;
        @include sg-u-text--m;
      }
    }
  }
  
  @at-root #{&}--media {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto;
    grid-gap: 1.6rem;
    grid-template-areas: 
      "img content"
      "footer footer";
      
    img {
      max-width: 100%;
      height: auto;
    }
    
    #{&}__img {
      grid-area: img;
      overflow: hidden;
    }
    #{&}__content {
      grid-area: content;
    }
    footer {
      grid-area: footer;
      height: 50px;
    }
  }

}
