$base: '.c-field';

#{ $base } { 
  align-items: flex-start;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  
  @include sg-u-space-stack--m;
  label {
    @include sg-u-space-stack--xs;
    @include sg-u-transition--m;
  } 
  input {
    @include sg-u-space-stack--xs;
  }
  p {
   @include sg-u-text--xs; 
   @include sg-u-transition--m;
  }
  
  &.focused {
    label {
      color: $sg-color__blue--700;
    }
    p {
      color: $sg-color__blue--600;
    }
  }
  
  @at-root #{&}--error {
    label,
    p {
      color: $sg-color__system--error;
    }
    input {
      background-color: $sg-color__system--error--light;
      border-color: $sg-color__system--error;
    }
  }
  
  @at-root #{&}--success {
    label {
      color: $sg-color__system--success;
    }
    input {
      backgorund-color: $sg-color__system--success--light;
      border-color: $sg-color__system--success;
    }
  }
  
  @at-root [type="checkbox"],
  [type="radio"] {
    left: -999px;
    position: absolute;
    top: -999px;
    &:focus + label {
      background-color: $sg-color__blue--400;
    }
    & + label {
      @include sg-u-space-squish--m( 'padding' );
      display: inline-block;
      transition: all .2s ease-out;
      width: 100%;
      &:hover {
        background-color: $sg-color__blue--400;
      }
      &:before {
        @include sg-u-space-inline--s;
        
        box-sizing: border-box;
        border: 0.6rem solid $sg-color__grayscale--000;
        box-shadow: 0px 0px 0px 1px $sg-color__grayscale--070;
        content: " ";
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        transition: all .2s ease-out .1s;
      }
    }
    &:checked + label {
      background-color: $sg-color__green--400;
      
      &:hover {
        background-color: $sg-color__green--500;
      }
      &:before {
        background-color: $sg-color__green--500;
        border: 2px solid $sg-color__grayscale--000;
        box-shadow: 0px 0px 0px 1px $sg-color__green--600;
      }
    }
  }
  @at-root [type="radio"] {
    & + label {
      &:before {
        border-radius: 0.6rem;
      }
    }
  }
  
  @at-root #{&}.required {
    label {
      &:after {
        content: " *";
        color: $sg-color__system--error;
      }
    }
  }
  
  @at-root #{&}.optional {
    label {
      &:after {
        @include sg-u-text--xs;
        
        content: " frivillig";
        font-style: italic;
        font-weight: normal;
      }
    }
  }
  
  @at-root #{&} label + p {
    @include sg-u-space-stack--s;
  }
}