$base: '.c-field';

#{ $base } { 
  align-items: flex-start;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  
  @include sg-u-space-stack--m;
  label {
    @include sg-u-space-stack--xs;
    @include sg-u-transition--m;
  } 
  input {
    position: relative;
    transition: all .2s ease-out;
    z-index: 20;
  }
  p {
   @include sg-u-text--xs; 
   @include sg-u-transition--m;
  }
  @at-root #{&}__wrapper {
    @include sg-u-space-stack--xs;
    
    position: relative;
    width: 100%;
  }
  
  &.focused {
    label {
      color: $sg-color__green--600;
    }
    p {
      color: $sg-color__green--600;
    }
  }
  
  @at-root #{&}--error {
    label,
    p {
      color: $sg-color__system--error;
    }
    input {
      background-color: $sg-color__system--error--light;
      border-color: $sg-color__system--error;
      width: calc( 100% - 54px );
    }
    .c-field__wrapper {
      background-color: $sg-color__system--error;
       
      &:after {
        content: "\f00d";
        color: $sg-color__grayscale--000;
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        margin: 0 0 0 1.6rem;
        position: absolute;
        right: 1.9rem;
        top: 1.6rem;
      }
    }
  }
  
  @at-root #{&}--success {
    label {
      color: $sg-color__system--success;
    }
    input {
      width: calc( 100% - 54px );
      background-color: $sg-color__system--success--light;
      //border-color: $sg-color__system--success;
      border-color: $sg-color__green--500;
    }
    .c-field__wrapper {
      background-color: $sg-color__green--500;
       
      &:after {
        content: "\f00c";
        color: $sg-color__grayscale--000;
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        margin: 0 0 0 1.6rem;
        position: absolute;
        right: 1.9rem;
        top: 1.6rem;
      }
    }
  }
  
  @at-root [type="checkbox"],
  [type="radio"] {
    left: -999px;
    position: absolute;
    top: -999px;
    &:focus + label {
      //background-color: $sg-color__blue--400;
    }
    & + label {
      @include sg-u-space-squish--m( 'padding' );
      display: inline-block;
      //display: inline;
      transition: all .2s ease-out;
      position: relative;
      //width: 100%;
      &:hover {
        background-color: $sg-color__blue--400;
      }
      &:before {
        @include sg-u-space-inline--s;
        
        box-sizing: border-box;
        border: 0.6rem solid $sg-color__grayscale--000;
        box-shadow: 0px 0px 0px 1px $sg-color__grayscale--070;
        content: " ";
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        transition: all .2s ease-out .1s;
      }
    }
    &:checked + label {
      //background-color: $sg-color__green--400;
      
      &:hover {
        background-color: $sg-color__green--500;
      }
      &:before {
        background-color: $sg-color__green--500;
        border: 1px solid $sg-color__grayscale--000;
        box-shadow: 0px 0px 0px 1px $sg-color__green--600;
        animation: shrink-bounce 0.2s cubic-bezier( .4, 0, .23, 1 );
      }
    }
    &:checked:focus + label {
      //background-color: $sg-color__green--500;
    }
  }
  
  @at-root [type="checkbox"] {
    & + label {
      &:after {
        content: "\f00c";
        font-family: 'Font Awesome 5 Free';
        top: 1.2rem;
        left: 1.8rem;
        position: absolute;
        font-size: 0.8rem;
        color: $sg-color__grayscale--000;        
      }
      }
  }
  
  @at-root [type="radio"] {
    & + label {
      &:before {
        border-radius: 0.6rem;
      }
    }
  }
  
  @at-root #{&}.required {
    label {
      &:after {
        content: " *";
        color: $sg-color__system--error;
      }
    }
  }
  
  @at-root #{&}.optional {
    label {
      &:after {
        @include sg-u-text--xs;
        
        content: " frivillig";
        font-style: italic;
        font-weight: normal;
      }
    }
  }
  
  @at-root #{&} label + p {
    @include sg-u-space-stack--s;
  }
}

@keyframes shrink-bounce {
  0% {
    transform: scale( 1 );
  }
  33% {
    transform: scale( .833 );
  }
  100% {
    transform: scale( 1 );
  }
}