  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  
  <script src="../../js/c-field.js" defer></script>
  <script src="../../js/c-radio.js" defer></script>
  <script src="../../js/c-checkbox.js" defer></script>
  </body>
</html>
